.custom-container{
  width: 44%;
  margin:86px 0 0 205px;
  /* background-color: #eee; */
}
.custom-container1{
  width: 44%;
  margin:141px 0 0 205px;
  /* background-color: #eee; */
}
.Image  {
  width:600px; 
  height:669px;
}
.btn.red {
  box-shadow: none;
  outline: none;
  border-radius: 5px;
}
.btn:hover{
  background-color:#0495c9;
}
.btnred{
background-color: red;
 margin-left: 180px;
 margin-top: 10px;
 display: inline;
}
.homeContainer{
padding: 60px 0 0 0;
}
.background{
  background-image: url("/image/img.jpg");
  height:669px;
}

.fontSize{
  font-size: 15px;
}

.algnRt{
  float: right;
}
